<nav>
  <div class="nav-container">
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a routerLink=""><i class="fas fa-home"></i><span class="nav-link">Home</span></a></li>
          <li class="nav-item-disabled"><i class="fas fa-user"></i><span class="nav-link">Profile</span></li>
          <li class="nav-item-disabled"><span aria-hidden="true" data-icon="&#xe903;" class="down-arrow"></span><span class="nav-link">Wallet</span></li>
          <li class="nav-item-disabled"><span aria-hidden="true" data-icon="&#xe901;" class="down-arrow"></span><span class="nav-link">Airdrops</span></li>
          <li class="nav-item-disabled"><i class="fas fa-expand-arrows-alt"></i><span class="nav-link">Distributions</span></li>
          <li class="nav-item"><a routerLink="/account/logout"><i class="fas fa-sign-out-alt"></i><span class="nav-link">Logout</span></a></li>
      </ul>
  </div>
</nav>