<app-account>
    <form [formGroup]="form" class="account-form validate-form">
    <div class="panel">
        <span class="account-form-title">
            Reset password
          </span>
      <app-input placeholder="Password" type="password" icon="fas fa-unlock-alt" [control]="form.controls['password']"></app-input>
      <span class="error-message">{{message}}</span>
      <div class="panel-btn-container">
        <button class="panel-btn" (click)="changePassword()" [disabled]="buttonDisabled">
          {{buttonText}}
        </button>
      </div>
    </div>
	</form>
</app-account>